@font-face {
  font-family: SourceSansPro-Regular;
  font-style: normal;
  font-weight: 400;
  src: url(./images/SourceSansPro-Regular.otf);
}

@font-face {
  font-family: SourceSansPro-Black;
  font-style: normal;
  font-weight: 900;
  src: url(./images/SourceSansPro-Black.otf);
}

@font-face {
  font-family: SourceSansPro-Bold;
  font-style: normal;
  font-weight: 700;
  src: url(./images/SourceSansPro-Bold.otf);
}

@font-face {
  font-family: SourceSansPro-SemiBold;
  font-style: normal;
  font-weight: 600;
  src: url(./images/SourceSansPro-SemiBold.otf);
}

@font-face {
  font-family: SourceSansPro-BoldIt;
  src: url(./images/SourceSansPro-BoldIt.otf);
}

@font-face {
  font-family: SourceSansPro-Light;
  src: url(./images/SourceSansPro-Light.otf);
}

body {
  font-family: SourceSansPro-Regular;
  color: #FFF;
  width: 1440px;
  margin: auto;
  margin-top: 5%;
  display: block;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin: 0;
  padding: 0;
}

a {
  color: #FFF;
  text-decoration: none;
}

header {
  color: #FFF;
  font-family: "SourceSansPro-Regular";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 2%;
}

h1 {
  display: block;
  margin-left: 382px;
  font-weight: none;
}

h2 {
  font-family: SourceSansPro-Bold;
  margin-block-start: 0;
  margin-block-end: 0;
}

h3 {
  color: #FFF;
  text-align: center;
  font-family: SourceSansPro-Bold;
  font-size: 18px;
  font-style: normal;
  line-height: 27px; /* 150% */
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 1440px;
}

blockquote {
  margin: 0;
  font-family: SourceSansPro-Regular;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.6px; /* 152.727% */
}

.nav-logo {
  margin-left: 175px;
  margin-right: 1105;
  margin-top: 101;
  margin-bottom: 924;
  width: 167.016px;
  height: 29.461px;
  flex-shrink: 0;
}
.nav-menu {
  color: #FFF;
  text-decoration: none;
  display: inline-flex;
  height: 15px;
  justify-content: center;
  align-items: flex-start;
  gap: 52px;
  flex-shrink: 0;
  margin-right: 169px;
}
.banner_section {
  font-family: SourceSansPro-Regular;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.background-image {
  background: url(./images/Object.png);
  background-repeat: no-repeat;
  background-color: #071629;
}

.block_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFF;
  /* margin-top: 165px; */
  /* padding-top: 165px; */
  height: 575px;
}

.block_1_text {
  font-family: SourceSansPro-Bold;
  text-align: center;
  font-size: 120px;
  font-style: normal;
  line-height: normal;
}

.livelaughlove {
  display: flex;
  max-width: 300px;
  font-family: SourceSansPro-SemiBold;
  font-size: 16px;
  justify-content: space-between;
  margin-left: 597px;
}

button {
  justify-content: center;
  width: 162px;
  height: 44px;
  border-radius: 22px;
  background: #C271FF;
  color: #FFF;
  font-family: SourceSansPro-SemiBold;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  margin-left: 645px;
  margin-top: 38px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);;
}

.block_2 {
  font-family: SourceSansPro-Light;
  font-style: italic;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  color: #FFF;
  height: 450px;
  /* margin-top: 150px; */
}

.headshots {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

.pics {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
}

img {
  border-radius: 50%;
}

.quote_section {
  font-family: SourceSansPro-Regular;
  background: url(./images/quote_background.png);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #FFF;
  /* margin-top: 150px; */
  width: 1440px;
  height: 392px;
  flex-shrink: 0;
}

.quote_img {
  display: flex;
  width: 150px;
  height: 150px;
  /* margin-left: 143px; */
  align-items: center;
}

.quote_text {
  display: flex;
  flex-direction: column;
  width: 730px;
  height: 158px;
  flex-shrink: 0;
  margin-left: -300px;
}

.quote_author {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 730px;
}

.videos_section {
  background-color: #FFF;
  font-family: SourceSansPro-Regular;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 87px;
  color: #071629;
  width: 1228px;
  height: 450px;
  flex-shrink: 0;
} /* the h1 settings have left-margin set to 382*/

.videos_block {
  display: flex;
  justify-content: space-evenly;
}

.videos_section h1 {
  display: flex;
  justify-content: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.video_img img {
  border-radius: 0%;
}
